
{{#main}}
<div class="content">

<h2>{{#str}} titulo, local_forum {{/str}}</h2>

<p>{{#str}} text, local_forum {{/str}} </p>
</div>
{{/main}}

{{#Btn}}
<div class="content">
<h2>{{#str}} B_title, local_forum {{/str}}</h2>

<p>{{#str}} B_page, local_forum {{/str}} </p>
</div>
{{/Btn}}

{{#view}}
<div class="content">
<h2>{{#str}} view_title, local_forum {{/str}}</h2>

<p>{{#str}} view_info, local_forum {{/str}} </p>
</div>
{{/view}}