<!--We create the templates for all the pages and separate them in views so that we can choose wich one to render -->

<!-- Handle the styles for each view inside them-->

{{#main}} <!-- index.php -->
<style>
p{
    padding: 4%;
}
h2{
    text-align: center;
}
</style>
<div class="content">
<div class="container text-right" style= "padding= 20px;">
    <img src="../forum/img/forum_bird.jpeg" alt="bird" width="90" height="65" style="border-radius: 100%;">
</div>
<h2>{{#str}} titulo, local_forum {{/str}}</h2>

<p style="margin = 20px;">{{#str}} text, local_forum {{/str}} </p>

<div class="container text-center"> <!--we display the buttons at the center of the screen -->
    {{{create_button}}} 
    {{{view_button}}} 
    </div>
</div>
{{/main}}


{{#Create}} <!-- create_forums.php -->

<div class="content">
<div class="container text-right" style= "padding= 20px;">
    <img src="../forum/img/forum_bird.jpeg" alt="bird" width="90" height="65" style="border-radius: 100%;">
</div>
<h2>{{#str}} B_title, local_forum {{/str}}</h2>
<br>
<p>{{#str}} B_page, local_forum {{/str}} </p>

</div>
{{/Create}}


{{#view}} <!-- view_forums.php -->
<style>
#fgroup_id_buttonar, #fitem_id_submitbutton {
    margin-bottom: 0;
    background: #f5f5f5;
}

.card-body.flex-grow-1.overflow-auto{
    height: 300px;
}
</style>
<body>
<div class="container_forum-content text-justify">
<div class="container text-right" style= "padding= 20px;">
    <img src="../forum/img/forum_bird.jpeg" alt="bird" width="90" height="65" style="border-radius: 100%;">
</div>
    <h2>{{#str}}view_title, local_forum{{/str}}</h2>
    <br>
    <div class="forum-list ">
        <div class="row">
            {{#forums}} <!-- this view allows us to display the data from the forums how we want-->
            <div class="col-md-4" style=" min-width: 33.3%;">
                <div class="card d-flex flex-column" style="background-color: #f5f5f5;height:95%">
                    <div class="card-body flex-grow-1 overflow-auto">
                        <h3 class="card-title forum-title">{{title}}</h3>
                        <p class="card-text forum-theme">{{#str}} form_theme, local_forum {{/str}}: {{theme}}</p>
                        <p class="card-text forum-intro" style="height=100px">{{#str}} form_intro_view, local_forum {{/str}}: {{intro}}</p>
                        <p class="card-text forum-criteria">{{#str}} criteria, local_forum {{/str}}: {{criteria}}</p>
                        <p class="card-text forum-info">{{#str}} bibliography, local_forum {{/str}}: {{info}}</p>
                    </div>
                        <div class="form-group" style=" padding: 20px; background-color: #f5f5f5;">
                            {{{inputs}}} <!-- we show the form to be answered-->
                        </div>
        </div>
        <br>
    </div>
        {{/forums}}
    <div class="container text-center"> <!--we display the buttons at the center of the screen -->
    {{{create_button}}} 
    {{{final_button}}}
    {{{go_to_answers}}}  
    </div>
</div>
</body>
{{/view}}


{{#fin}} <!-- final_view.php -->
<body>
<div class="container text-right" style= "padding= 20px;">
    <img src="../forum/img/forum_bird.jpeg" alt="bird" width="90" height="65" style="border-radius: 100%;">
</div>
<div class="container text-center">
    <img src="../forum/img/sent_answer.jpg" alt="bird_ans" width="300" height="300" style="border-radius: 5%;">
</div>
<br>
    <div class=" title text-center" style="margin= 20px;">
        <h2>{{#str}} fin_title, local_forum {{/str}}</h2>
    <div>
<br>
    <div class="container text-center"> <!--we display the buttons at the center of the screen -->
    {{{return_button}}}
    {{{go_to_answers}}}    
    </div>
</body>
{{/fin}}

{{#ans}}
<style>

.card-body.flex-grow-1.overflow-auto{
    height: 250px;
}
</style>
<div class="forum-list ">
        <div class="row">
            {{#answers}} <!-- this view allows us to display the data from the answers how we want-->
            <div class="col-md-4" style=" min-width: 33.3%;">
                <div class="card d-flex flex-column" style="background-color: #f5f5f5; height:95%">
                    <div class="card-body flex-grow-1 overflow-auto">
                        <!--<h3 class="card-title forum-title">{{answer}}</h3>-->
                        <p class="card-text input-answer">{{#str}} answer_mustache, local_forum {{/str}}: {{answer}}</p>
                        <p class="card-text forum-name" style="height=100px">{{#str}} forum_name_mustache, local_forum {{/str}}: {{forum_name}}</p>
                        <p class="card-text forum-id" style="height=100px">{{#str}} forum_id_mustache, local_forum {{/str}}: {{forum_id}}</p>
                        <p class="card-text input-user-name">{{#str}} user_name_mustache, local_forum {{/str}}: {{user_name}}</p>
                        <p class="card-text input-user">{{#str}} user_id_mustache, local_forum {{/str}}: {{user}}</p>
                        <p class="card-text input-hour">{{#str}} submit_time_mustache, local_forum {{/str}}: {{submit_time}}</p>
                    </div>
        </div>
        <br>
    </div>
        {{/answers}}
    <div class="container text-center"> <!--we display the buttons at the center of the screen -->
        {{{home_button}}}
        {{{forums_button}}}  
  
    </div>
        

{{/ans}}

